###################### RENDERED FROM JINJA TEMPLATE ######################

spring:
  datasource:
    # localhost database in docker container
    url: {{ datasource_url }}
    username: {{ datasource_username }}
    password: {{ datasource_password }}
    driverClassName: {{ datasource_driverClassName }}
  jpa:
    properties.hibernate.temp.use_jdbc_metadata_defaults: false
    show-sql: true
    hibernate.ddl-auto: validate

server.port: {{ server_port }}

max.cache.life.time: {{ max_cache_life_time }}
min.cache.life.time: {{ min_cache_life_time }}
seance.info.cache.flush.timeout: {{ seance_info_cache_flush_timeout }}
rps.map.flush.timeout: {{ rps_map_flush_timeout }}
rps.life.time: {{ rps_life_time }}

# actuator
management:
  endpoints:
    web.base-path: /movie_park_service
    # web.exposure.include: *
    # HEALTH ENDPOINT
    health.show-details: always
  health.diskSpace.enabled: false
