###################### RENDERED FROM JINJA TEMPLATE ######################

server.port: {{ server_port }}
spring.profiles.active: prod
spring:
  datasource:
      prod:
        # real database
        url: {{ datasource_url }}
        username: {{ datasource_username }}
        password: {{ datasource_password }}
        driverClassName: {{ datasource_driverClassName }}

cache:
  tables:
    lifetime:
      max: {{ max_cache_life_time }}
      min: {{ min_cache_life_time }}
    timeouts:
      seance_info_flush: {{ seance_info_cache_flush_timeout }}
  rps:
    lifetime: {{ rps_life_time }}
    timeouts:
      cron_timeout: {{ rps_map_flush_timeout }}

# actuator
management:
  endpoints:
    web.base-path: /movie_park_service
    # web.exposure.include: *
    # HEALTH ENDPOINT
    health.show-details: always
  health.diskSpace.enabled: false
